- content_for :head do
  = stylesheet 'css/index.css'
  %script{:src=>'js/index.js'}
- content_for :title do
  Redeem Bitcards

.row-fluid
  .offset4.span4
    %form.form{:method=>'post', :action=>'send'}
      .row-fluid
        .span8.offset2
          %button.btn.btn-info.send Send Bitcoins
      #codes

#code.template
  .control-group
    .row-fluid
      .input-append
        %span.amount.add-on.hidden
        %input.span10.offset1#appendedInputButton{:type=>'text',
                                                  :placeholder=>'Bitcard Code'}
        %button.btn
          %i.icon-file
