html, body, .container-fluid {
  background: lightGray;
}

.header {
  margin: 20px 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.template {
  display: none;
}

.title {
  color: gray;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
